// Secondary Button
.button-secondary {
  background: $ds-blue-40;

  &:hover {
    background: $ds-blue-40;
  }

  &:active {
    background: $ds-blue-30;
  }
}

.button-baby {
  background: $ds-blue-40;

  &:hover {
    background: $ds-blue-40;
  }

  &:active {
    background: $ds-blue-30;
  }
}

// Danger Button
.button-danger {
  background: $orange;

  &:hover {
    background: $orange-shade;
  }

  &:active {
    background: $orange-dark;
  }
}

// Link Button
.button-link {
  background: none;
  color: $ds-blue-40;
  font-size: $h5;
  font-weight: bold;
  padding: 0;

  &:hover, &:active {
    background: none;
    color: $ds-blue-30;
  }

  &.button-secondary {
    color: $ds-blue-40;

    &:hover {
      color: $ds-blue-40;
    }

    &:active {
      color: $ds-blue-30;
    }
  }

  &.button-danger {
    color: $orange;

    &:hover {
      color: $orange-shade;
    }

    &:active {
      color: $orange-dark;
    }
  }

  &.button-baby {
    color: $ds-blue-40;

    &:hover {
      color: $ds-blue-40;
    }

    &:active {
      color: $ds-blue-30;
    }
  }

  &.button-sm {
    padding: 0;
  }

  &:disabled, &.button-disabled {
    color: $grey-25;
  }
}
