.input {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: $sans-family;
  font-size: $h5;
  margin-bottom: 0;
  margin-top: 0;

  &::placeholder {
    color: $grey-50;
  }

  &::not([readonly]):focus::placeholder {
    color: transparent;
  }

  &:focus {
    outline: 0;
  }

  &.bc-orange {
    // scss-lint:disable ImportantRule
    border-color: $orange !important;
    // scss-lint:disable ImportantRule
  }
}

.input-text,
.input-datetime,
.input-datetime-local,
.input-email,
.input-month,
.input-number,
.input-password,
.input-search,
.input-tel,
.input-time,
.input-url,
.input-week,
.date-field input {
  background-color: $blue-05;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: $grey-75;
  vertical-align: middle;
  width: 100%;

  &.disabled,
  &:disabled {
    background: $grey-10;
    color: $grey-50;
  }
}
