input {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: $sans-family;
  font-size: $h5;
  margin-bottom: 0;
  margin-top: 0;

  &::placeholder {
    color: $ds-grey-200;
  }

  &::not([readonly]):focus::placeholder {
    color: transparent;
  }

  &:focus {
    outline: 0;
  }

  &.bc-orange {
    // scss-lint:disable ImportantRule
    border-color: $orange !important;
    // scss-lint:disable ImportantRule
  }
}

[type=text],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=time],
[type=url],
[type=week],
.date-field input {
  background-color: $ds-blue-10;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  color: $ds-grey-60;
  vertical-align: middle;
  width: 100%;

  &.disabled,
  &:disabled {
    background: $ds-grey-30;
    color: $ds-grey-200;
  }
}
